.header {
    grid-area: headerArea;
    background: #0c7fcd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    color: #424242;
    border-radius: 2px;
}

.pic {
    width: 85px;
}
