.header {
    grid-area: headerArea;
    background: #0c7fcd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    color: #424242;
    border-radius: 2px;
}

.pic {
    width: 85px;
}
.headerContainer{
    display: flex;
    width: 99%;
    justify-content: space-between;
    align-items: center;
}
.logoItem{
    display: flex;
}
.loginItem{
    display: flex;
}
.loginUserName{

}
.loginImage{
    width: 50px;
}
.loginImage img{
    width: 100%;
}