.header {
    grid-area: headerArea;
    background: #1186ea;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    color: #424242;
}

.pic {
    width: 85px;
}
