.nav {
    grid-area: navArea;
    background: #32b6f6;
    height: 100%;
    padding: 10px;
}

.item a {
    text-decoration: none;
    color: #120046;
}

/*!!!!!!!!!  important   .item .selected*/
.item .selected {
    color: #ffffff;
}