/*--------------------------Profile-------------------------*/
.back {
    background-size: cover;
    position: relative;
    width: 100%;
}
.content {
     grid-area: contentArea;
     background-image: url("../../pictures/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 10px;
    margin-left: 5px;
    border-radius: 2px;
 }
.item{
    color: white;
    width: 200px;
}
.item img{
    width: 100%;
}
/*--------------------------MyPosts-------------------------*/
.myPostCont{
    background: #b3e6ff;
    color: rgba(54, 54, 54, 0.79);
    padding: 5px;
}
.addPostBtn{
    margin: 5px;
}
/*--------------------------Post-------------------------*/
.post img {
    width: 40px;
}
.post {
    display: flex;
    align-items: center;
}
/*--------------------------ProfileInfo-------------------------*/
.profileInfo{
    background: #0f7fcd;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}
.statusContainer{
    background-color: #0062a7
}