.formControl.error input, .formControl.error textarea{
    border: 1px solid rgba(255, 0, 40, 0.79);
}

.formControl.error span{
    color: red;
}
.formSummaryError{
    width: 300px;
    border: 1px solid mediumvioletred;
    padding: 5px;
    color: #ff0028;
}
.requiredError{
    position: absolute;
    margin-left: 10px;
}
