.appWrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 11fr;
    grid-row-gap: 5px;
    grid-template-areas:
            "headerArea headerArea headerArea"
            "navArea contentArea contentArea"
            "footerArea footerArea footerArea";
    height: 700px;
}
