.appWrapper {
    background: rebeccapurple;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
    grid-template-areas: "headerArea headerArea headerArea" "navArea contentArea contentArea";
}

.header {
    grid-area: headerArea;
    background: darkred;
}

.nav {
    grid-area: navArea;
    background: yellow;
}

.content {
    grid-area: contentArea;
    background: aqua;
}

.pic {
    width: 50px;
}

.back {
    background-size: cover;
    position: relative;
    width: 100%;
}