.usersContainer{
    grid-area: contentArea;
    background-image: url("../../pictures/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 10px;
    margin-left: 5px;
    border-radius: 2px;
}
.usersContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.userItem{
    width: 180px;
    border: 1px solid silver;
    overflow: hidden;
    margin: 3px;
    height: 150px;
}
.userItemImage img{
    width: 70px;
}
.userItemImage .button{
   cursor: pointer;
}
.imageButton{
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: flex-start;
}